@tailwind base;
@tailwind components;
@tailwind utilities;

.ignore-domain-container textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 8px;
}

.dashboard-container ol {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 40px;
  margin-bottom: 20px;
  font-size: 14px;
}

.dashboard-container li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 10px;
  list-style-type: decimal;
}

.dashboard-container li:last-child {
  border-bottom: none;
}

.options-btn {
  transition: transform 0.3s ease;
  transform-origin: 50% 50%;
}

.options-btn:hover {
  cursor: pointer;
  transform: rotate(-90deg);
}

/* Unvisited links */
a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* Hovered links */
a:hover {
  text-decoration: underline;
  color: darkblue;
}

/* Active links (being clicked) */
a:active {
  color: red;
}

button {
  background-color: #36abff;
  color: white;
  padding: 6px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

button:hover {
  background-color: #228cd8;
}

.domain-btn {
  background-color: rgb(128, 128, 128);
  color: black;
}

.domain-btn:hover {
  background-color: rgb(92, 92, 92);
}

.table-container {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.table-container th,
.table-container td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.table-container tr:last-child td {
  border-bottom: none;
}

.table-container li {
  display: inline-block;
  background-color: #e9e9e9;
  border-radius: 4px;
  padding: 0 8px;
}

.table-container li span {
  max-width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

/* W3Schools-- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  transition: 0.4s;
  border: 1px solid #b6b6b6;
  border-radius: 18px;
}

.slider:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 2px;
  bottom: 1px;
  background-color: #b6b6b6;
  transition: 0.4s;
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* --W3Schools */
