@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
  margin: 8px 0;
}

th {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

td {
  font-size: 16px;
}

table,
th,
td {
  border: 1px solid black;
}
